:root {
  --blue-mapod4d: #3226a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.nav-link.active {
  background-color: #d3d3d3;
  border-radius: 20px;
}

.carousel-item img {
  opacity: 0.8;
}

.carousel-caption {
  text-shadow: 2px 2px 5px #000;
}
